<div class="container-fluid h-100">
  <div class="row">
    <div class="col-2 d-flex flex-column align-items-center">
      <div class="ml-3">
        <div class="customItemAlignment mb-3 mt-3" (click)="dashboardHome()">
          <mat-icon>home</mat-icon> Dashboard
        </div>
        <div class="customItemAlignment mb-3" (click)="notifications()">
          <mat-icon>notifications</mat-icon> Notifications
        </div>
        <div class="customItemAlignment mb-3" (click)="settings()">
          <mat-icon>settings</mat-icon> Settings
        </div>
      </div>
      </div>


    <div class="col-md-10 ml-sm-auto">
      <div class="row">
        <div class="container bg-dark">
          <nav class="navbar bg-dark" data-bs-theme="dark">
            <!-- Navbar content -->
            <p class="navbar-brand text-light">Pi-Air</p>
          </nav>
          <div class="row">
            <div class="col-12 p-3">
              <mat-chip-list >
                <mat-chip (click)="filterData(24)" style="background: #A020F0; color: white; font-size: 15px;">
                  24 hours
                </mat-chip>
                <mat-chip (click)="filterData(72)" style="background: #A020F0; color: white; font-size: 15px;">
                  3 days
                </mat-chip>
                <mat-chip (click)="filterData(168)" style="background: #A020F0; color: white; font-size: 15px;">
                  7 days
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row  h-90 infoCard">
                <div class="col-6">
                  <div class="card h-100 align-self-center text-center">
                    <div class="row">
                      <div class="col-12 mt-5 largeFontSize">
                        Average Co2
                      </div>
                      <div class="col-10 mt-5">
                        <mat-icon style="font-size: 100px;">air</mat-icon>
                      </div>
                    </div>
                    <div class="col-12 mt-4 largeFontSize">
                      {{averageCo2}}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card h-100 align-self-center text-center">
                    <div class="row">
                      <div class="col-12 mt-5 largeFontSize">
                        Peak Co2
                      </div>
                      <div class="col-10 mt-5">
                        <mat-icon style="font-size: 100px;">warning</mat-icon>
                      </div>
                    </div>
                    <div class="col-12 mt-4 largeFontSize">
                      {{peakCo2}}
                    </div>
                  </div>
                </div>
            </div>
          </div>
            <!-- area chart -->
            <div class="col-lg-6">
                <div class="card h-100 align-self-center text-center">
                  <div class="card p-3 h-100">

                    <app-area-chart></app-area-chart>
                  </div>
              </div>
            </div>


            <!-- Second Line of dashboard items -->

            <!-- line chart -->
            <div class="col-4 mb-2 mt-3">
              <div class="card p-3 h-100">
                <app-line-charts>
                </app-line-charts>
              </div>
            </div>

            <!-- radial bar chart -->
            <div class="col-4  mb-2 mt-3">
              <div class="card p-3 h-100">
                <app-radial-bar-charts>
                </app-radial-bar-charts>
              </div>
            </div>

            <!-- scatter plot -->
            <div class="col-4  mb-2 mt-3">
              <div class="card h-100">
                <!-- <app-scatter-plot>
                </app-scatter-plot> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




