<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 mb-5 mt-5">
          <div class="card p-3 h-100">
            <div class="row">
              <div class="col-4 text-center align-self-center">
                Current Co2 Level
              </div>
              <div class="col-4 text-center align-self-center">
                <mat-icon style="font-size: 40px;">air</mat-icon>
              </div>
              <div class="col-4 text-center align-self-center">
                400
              </div>
            </div>
          </div>
        </div>



        <div class="col-12">
          <div class="card p-3 h-100">
            <div class="row">
              <div class="col-4 text-center align-self-center">
                Average Co2 Level
              </div>
              <div class="col-4 text-center align-self-center">
                <mat-icon style="font-size: 40px;">air</mat-icon>
              </div>
              <div class="col-4 text-center align-self-center">
                400
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100 align-self-center text-center">
          <!-- <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [yaxis]="chartOptions.yaxis"
            ></apx-chart>
          </div> -->
          <app-area-chart></app-area-chart>
      </div>
    </div>


    <!-- Second Line of dashboard items -->
    <div class="col-4">
      <app-line-charts>
      </app-line-charts>
    </div>

    <div class="col-4">
      <app-radial-bar-charts>

      </app-radial-bar-charts>
    </div>
    <div class="col-4">
      <app-scatter-plot>

      </app-scatter-plot>
    </div>
  </div>
</div>



