.customItemAlignment {
  cursor: pointer;
  height: 24px; /* set the height to match the height of the container */
  line-height: 24px; /* set the line-height to match the height of the container */
  font-size: 25px;
}
.customItemAlignment mat-icon {
  margin-right: 5px;
}

body, html {
  height: 100vh;
}

.container {
  min-height: 100vh;
}

.largeFontSize {
  font-size:  xx-large;
}

.infoCard {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.whiteIcon {
  color: white;
}

.warningCard {
  width: 300px;
}
::ng-deep.mat-menu-panel {
  max-width:fit-content !important;
}

.customFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.warningIcon {
  width: 10%;
}

.warningIcon mat-icon {
  color: red;
  padding-left: 10%;
  padding-right: 10%;
}

.warningMessage {
  width: 50%;
}

.wanringLevelCo2Detected{
  width: 40%;
}

.buttonNotFocused {
  opacity: 0.5;
}
