<div class="container-fluid h-100">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="container bg-dark">
          <nav class="navbar bg-dark col-12" data-bs-theme="dark">
            <!-- Navbar content -->
            <div class="d-flex justify-content-start">
              <p class="navbar-brand text-light">Pi-Air</p>
            </div>

            <div class="d-flex justify-content-end align-items-center">
              <button mat-button [matMenuTriggerFor]="belowMenu" >
                <mat-icon class="whiteIcon" matBadge="{{totalUserNotifications}}" *ngIf="totalUserNotifications > 0">notifications</mat-icon>
                <mat-icon class="whiteIcon" *ngIf="totalUserNotifications == 0">notifications</mat-icon>
              </button>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <div class="warningCard" *ngFor="let item of userNotifications" (mouseenter)="onMouseEnter(item)">
                  <!-- {{item | json}} -->
                  <div class="customFlex mb-1">
                    <div class="warningIcon pl-3">
                      <mat-icon>
                        error_outline
                      </mat-icon>
                    </div>
                    <div class="warningMessage pl-1">
                     Chance of migrane
                    </div>
                    <div class="wanringLevelCo2Detected">
                      Co2 Level {{ item.co2LevelWarning }}
                      <br>
                       {{ item.formattedTime }}
                    </div>
                  </div>
                  <hr>
                </div>

              </mat-menu>
                <button mat-button (click)="settings()"><mat-icon class="whiteIcon">settings</mat-icon></button>
            </div>
          </nav>


          <div class="row">
            <div class="col-12 p-3">
              <mat-chip-list>
                <mat-chip (click)="filterData(1)" class="{{ !lastHour ? 'buttonNotFocused' : '' }}" style="background: #A020F0; color: white; font-size: 15px;">
                  Last hour
                </mat-chip>
                <mat-chip (click)="filterData(24)" class="{{ !last24Hours ? 'buttonNotFocused' : '' }}" style="background: #A020F0; color: white; font-size: 15px;">
                  24 hours
                </mat-chip>
                <mat-chip (click)="filterData(72)" class="{{ !last3Days ? 'buttonNotFocused' : '' }}" style="background: #A020F0; color: white; font-size: 15px;">
                  3 days
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row  h-90 infoCard">
                <div class="col-6">
                  <div class="card h-100 align-self-center text-center">
                    <div class="row">
                      <div class="col-12 mt-5 largeFontSize">
                        Average Co2
                      </div>
                      <div class="col-10 mt-5">
                        <mat-icon style="font-size: 100px;">air</mat-icon>
                      </div>
                    </div>
                    <div class="col-12 mt-4 largeFontSize">
                      {{averageCo2}}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card h-100 align-self-center text-center">
                    <div class="row">
                      <div class="col-12 mt-5 largeFontSize">
                        Peak Co2
                      </div>
                      <div class="col-10 mt-5">
                        <mat-icon style="font-size: 100px;">warning</mat-icon>
                      </div>
                    </div>
                    <div class="col-12 mt-4 largeFontSize">
                      {{peakCo2}}
                    </div>
                  </div>
                </div>
            </div>
          </div>
            <!-- area chart -->
            <div class="col-lg-6">
                <div class="card h-100 align-self-center text-center">
                  <div class="card p-3 h-100">

                    <app-area-chart></app-area-chart>
                  </div>
              </div>
            </div>


            <!-- Second Line of dashboard items -->

            <!-- line chart -->
            <div class="col-4 mb-2 mt-3">
              <div class="card p-3 h-100">
                <app-line-charts>
                </app-line-charts>
              </div>
            </div>

            <!-- radial bar chart -->
            <div class="col-4  mb-2 mt-3">
              <div class="card p-3 h-100">
                <app-radial-bar-charts>
                </app-radial-bar-charts>
              </div>
            </div>

            <!-- scatter plot -->
            <div class="col-4  mb-2 mt-3">
              <div class="card h-100">
                <app-scatter-plot>
                </app-scatter-plot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




